<form class="form" action="/vineyard" method="POST">
  <input type="text" placeholder="Vineyard Name"name="name" value="" id="name" required>
  <input type="text" placeholder="Address" name="address" value="" id="address">
  <input type="tel" placeholder="Phone Number" name="phone" value="" id="phone" pattern="^\d{3}-\d{3}-\d{4}$">
  <input type="text" placeholder="Website" name="website" value="" id="website">

  <div class="radio1">
  <p> Did you have an appointment? </p>
      <input name="appointment" type="radio" id="appointment-true" value="true" />
      <label for="appointment-true">Yes</label>
      <input name="appointment" type="radio" id="appointment-false" value="false" />
      <label for="appointment-false">No</label>
  </div>
  <div class="radio2">
  <p> Did you purchase wine? </p>
      <input name="wine_purchase" type="radio" id="purchase-true" value="true" />
      <label for="purchase-true">Yes</label>
      <input name="wine_purchase" type="radio" id="purchase-false" value="false" />
      <label for="purchase-false">No</label>
  </div>
  <button class="btn waves-effect waves-light red lighten-2 add-btn" type="submit" name="action">Add
  </button>
</form>
