{{#if vineyards}}
    <table>
        <tr>
            <th>Vineyard Visited</th>
            <th>Website</th>
        </tr>
        {{#each vineyards}}
            <tr>
                <td class="vineyard"><a href="1">{{name}}</a></td>
                <td>{{website}}</td>
                <!-- <td>{{visit_date}}</td> -->
            </tr>
        {{/each}}
    </table>
{{else}}
    <p>No vineyards!</p>
{{/if}}
