<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <h1><a href="/">Vineyard Tracker</a></h1>
    </header>
    <main>
    {{{body}}}
  </main>
    <footer>
            <small>&copy; Murph Grainger, 2016</small>
        </footer>
  </body>
</html>
