<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
  </head>
  <body>
    <header>
      <h1><a href="/vineyard">Vineyard Tracker</a></h1>
    </header>
    <main>
    {{{body}}}
  </main>
    <footer>
            <small>&copy; Murph Grainger, 2016</small>
        </footer>
  </body>
</html>
